$z-underflipper: 999;
$z-index-flipper: 1000;

.page-is-flipping {
  overflow: hidden;

  .under-flipper {
    &.under-flipper-left {
      &:after {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    &.under-flipper-right {
      background-color: beige;
    }
  }
}

.under-flipper {
  position: absolute;
  z-index: $z-underflipper;
  display: flex;
  align-items: center;
  justify-content: center;
  &.under-flipper-left {
    background-color: beige;
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      transition: all 1s linear;
      transition-delay: 1.2s;
      background-color: rgba(0, 0, 0, 0.01);
    }
  }
  &.under-flipper-right {
    background-color: beige;
  }
}

#NewPageFlipper {
  position: absolute;
  perspective: 1000px;
  z-index: $z-index-flipper;

  .new-page-flipper-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 3s ease-in-out;
    transform-origin: center left;
  }

  .new-page-flipper-front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
  }

  .new-page-flipper-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  img {
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}
