$z-underflipper: 999;
$z-index-flipper: 1000;
$z-flipper-notice: 1001;
$flip-perspective: 400dvw;
.content#root {
  overflow: hidden;
}
main#iframe-wrapper {
  overflow: hidden !important;
}

.both-pages-display {
  .left-page-display:has(iframe[src="about:blank"]) {
    box-shadow: unset !important;
    clip-path: unset !important;
  }
  .right-page-display:has(iframe[src="about:blank"]) {
    box-shadow: unset !important;
    clip-path: unset !important;
  }
}
.page-is-flipping {
  overflow: hidden;

  &.flipping-to-next {
    .under-flipper {
      &.under-flipper-left {
        &:after {
          transform: translateX(0);
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  &.flipping-to-prev {
    .under-flipper {
      &.under-flipper-right {
        &:after {
          transform: translateX(0);
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.clone {
  pointer-events: none;
}

#NewPageFlipper {
  pointer-events: none;
  perspective: $flip-perspective;
  z-index: $z-index-flipper;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;

  &.flipping-to-next {
    transform-origin: center left;
    transform: rotateY(180deg);
  }

  &.flipping-to-prev {
    transform-origin: center right;
    transform: rotateY(-180deg);
  }

  .new-page-flipper-front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
  }

  .new-page-flipper-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
}

.under-flipper {
  pointer-events: none;
  position: absolute;
  z-index: $z-underflipper;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;

  &.under-flipper-left {
    overflow: hidden;
    transform: translateX(120%);
  }
  &.under-flipper-right {
    overflow: hidden;
    transform: translateX(-120%);
  }
}
