$z-underflipper: 999;
$z-index-flipper: 1000;
$flip-perspective: 400dvw;

.page-is-flipping {
  overflow: hidden;

  // .under-flipper {
  //   &.under-flipper-left {
  //     &:after {
  //       transform: translateX(0);
  //       background-color: rgba(0, 0, 0, 0.5);
  //     }
  //   }
  //   &.under-flipper-right {
  //     background-color: beige;
  //   }
  // }

  &.flipping-to-next {
    .under-flipper {
      &.under-flipper-left {
        &:after {
          transform: translateX(0);
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  &.flipping-to-prev {
    .under-flipper {
      &.under-flipper-right {
        &:after {
          transform: translateX(0);
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.under-flipper {
  position: absolute;
  z-index: $z-underflipper;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
  &.under-flipper-left {
    background-color: beige;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      transition:
        background 1s linear,
        transform 2s ease-in-out;
      transition-delay: 1.2s, 0.5s;
      transform: translateX(120%);
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  &.under-flipper-right {
    background-color: beige;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      transition:
        background 1s linear,
        transform 2s ease-in-out;
      transition-delay: 1.2s, 0.5s;
      transform: translateX(-120%);
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

#NewPageFlipper {
  position: absolute;
  perspective: $flip-perspective;
  z-index: $z-index-flipper;

  .new-page-flipper-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 3s ease-in-out;
  }

  &.flipping-to-next {
    .new-page-flipper-inner {
      transform-origin: center left;
    }
  }
  &.flipping-to-prev {
    .new-page-flipper-inner {
      transform-origin: center right;
    }
  }

  .new-page-flipper-front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
  }

  .new-page-flipper-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  img {
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}
