$pageAnimation: 2.3s;
$pageTweening: ease-in-out; 

$perspectiveBothPages: 2800px;
$perspective2: 12000px;
$perspective3: 1500px;

:root {
  --sw: calc(83%);
}

.page-holder.flipping-page { 
  transform-origin: top left;
}


#iframe-wrapper {
  // THIS HOLDS BOTH PAGES
  > div:last-child {
    position: relative;
    perspective: $perspectiveBothPages;
    transform: translateX(100px);

    // FIRST BOOK PAGE
    > div:first-child {
      transform: translateX(-623px);
      iframe { }

    }

    // SECOND BOOK PAGE
    > div:last-child {

      
      // animation-name: nextFront;
      // animation-duration: 2.635s;
      // animation-iteration-count: infinite;
      // animation-timing-function: ease-in-out;
      // transform-origin: center left;

      iframe { }

      
    }
  }
}

main {
  > div {
    --flip-amount: 180deg;
    &:has(iframe[src="about:blank"]) {
      > div::after {
        opacity: 0;
      }
    }
  }

  > div > div {
    position: relative;
    perspective: $perspective2;
    clip-path: unset !important;
  
    &:has(iframe[src="about:blank"]) {
      box-shadow: none !important;
      iframe {
        box-shadow: none !important;
      } 
    }

    &:first-child {
      &::after {
        left: unset;
        right: -32px;
      }
    }

    #iframe-wrapper {
      perspective: $perspective3; 
    }
    
    iframe {
      transform-style: preserve-3d;
      position: absolute;
      box-shadow: rgb(204, 204, 204) 0px 0px 8px 2px;
      overflow: hidden;
      backface-visibility: hidden; // Added for smoother flipping
    }
    
    .iframe-clone {
      z-index: 2;
    }

    .flip-next, .flip-prev {
      backface-visibility: hidden;
    }
    
    .flip-next {
      transform-origin: left center; 
      transform: rotateY(-180deg); 
      &.page-back {
        transform-origin: right;
        animation: nextBack $pageAnimation $pageTweening forwards;
        transform: rotateY(var(--flip-amount));
      }
    
      &.page-front {
        z-index: 5;
        transform-origin: left;
        transform: rotateY(0deg);
        animation: nextFront $pageAnimation $pageTweening forwards;
      }
    }
    
    .flip-prev {
      transform-origin: right center; 
      transform: rotateY(180deg); 
      &.page-back {
        z-index: 4;
        transform-origin: left;
        animation: prevBack $pageAnimation $pageTweening forwards;
        transform: rotateY(0deg) translateX(2px);
        border-left: 2px solid rgba(67, 67, 67, 0.35);
      }
    
      &.page-front {
        z-index: 5;
        transform-origin: right;
        transform: rotateY(var(--flip-amount)) translateX(2px);
        animation: prevFront $pageAnimation $pageTweening forwards;
        border-right: 2px solid rgba(67, 67, 67, 0.35);
      }
    }
    
    .page-back {
      z-index: 3;
    }
    
    .page-front {
      z-index: 4; 
    }
  }
}

@keyframes nextFront {
  from {
    transform: rotateY(0deg);
    box-shadow: none;
  }
  to {
    transform: rotateY(calc(0deg - var(--flip-amount)));
    box-shadow: none;
  }
}

@keyframes nextBack {
  from {
    transform: rotateY(180deg) translateX(0px);
    box-shadow: none;
  }
  to {
    transform: rotateY(0deg) translateX(0px);
    box-shadow: none;
  }
}

@keyframes prevFront {
  from {
    transform: rotateY(0deg);
    box-shadow: none;
  }
  to {
    transform: rotateY(180deg);
    box-shadow: none;
  }
}

@keyframes prevBack {
  from {
    transform: rotateY(calc(0deg - var(--flip-amount)));
    box-shadow: none;
  }
  to {
    transform: rotateY(0deg);
    box-shadow: none;
  }
}